<!-- Fixed navbar -->
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/admin/categories">BookMyGaddi</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li><a href="/book/contect-us"><img src="/img/24x7phone.png" width="150"/></a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>