<!-- Fixed navbar -->
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/admin/categories">BookMyGaddi</a>
      <div class="nav-collapse collapse">
        <ul class="nav  ml-auto">
          <li>Logout</li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>