<div class="container">
  <!-- Filtering Menu
  ================================================== -->
  <!-- END filtering menu -->
  <!-- MASONRY ITEMS START
  ================================================== -->
  <div id="content">
    <!-- box 1 -->
    <div class="boxportfolio4 cat2 cat3">
      <div class="boxcontainer">
        <img src="https://www.themepush.com/demo/serenity/img/temp/masonry/1.jpg" alt="">
        <div class="roll">
          <div class="wrapcaption">
            <a href="singleproject.html"><i class="icon-link captionicons"></i></a>
            <a data-gal="prettyPhoto[gallery1]" href="img/dummyimage.jpg" title="La Chaux De Fonds"><i class="icon-zoom-in captionicons"></i></a>
          </div>
        </div>
        <h1><a href="singleproject.html">La Chaux De Fonds</a></h1>
        <p>
          Swiss city in Jura mountains
        </p>
      </div>
    </div>
    <!-- box 2 -->
    <div class="boxportfolio4 cat1">
      <div class="boxcontainer">
        <img src="https://www.themepush.com/demo/serenity/img/temp/masonry/2.jpg" alt="">
        <div class="roll">
          <div class="wrapcaption">
            <a href="singleproject.html"><i class="icon-link captionicons"></i></a>
            <a data-gal="prettyPhoto[gallery1]" href="img/dummyimage.jpg" title="Taj Mahal"><i class="icon-zoom-in captionicons"></i></a>
          </div>
        </div>
        <h1><a href="singleproject.html">Taj Mahal</a></h1>
        <p>
          one of the eight wonders
        </p>
      </div>
    </div>
    <!-- box 3 -->
    <div class="boxportfolio4 cat2 cat3">
      <div class="boxcontainer">
        <img src="https://www.themepush.com/demo/serenity/img/temp/masonry/3.jpg" alt="">
        <div class="roll">
          <div class="wrapcaption">
            <a href="singleproject.html"><i class="icon-link captionicons"></i></a>
            <a data-gal="prettyPhoto[gallery1]" href="img/dummyimage.jpg" title="Title Here"><i class="icon-zoom-in captionicons"></i></a>
          </div>
        </div>
        <h1><a href="singleproject.html">Versailles, France</a></h1>
        <p>
          Cotelle Gallery
        </p>
      </div>
    </div>
    <!-- box 4 -->
    <div class="boxportfolio4 cat1">
      <div class="boxcontainer">
        <img src="img/dummyimage.jpg" alt="">
        <div class="roll">
          <div class="wrapcaption">
            <a href="singleproject.html"><i class="icon-link captionicons"></i></a>
            <a data-gal="prettyPhoto[gallery1]" href="img/dummyimage.jpg" title="Title Here"><i class="icon-zoom-in captionicons"></i></a>
          </div>
        </div>
        <h1><a href="singleproject.html">St Petersburg, Russia</a></h1>
        <p>
          water fountain
        </p>
      </div>
    </div>
    <!-- box 5 -->
    <div class="boxportfolio4 cat2">
      <div class="boxcontainer">
        <img src="img/dummyimage.jpg" alt="">
        <div class="roll">
          <div class="wrapcaption">
            <a href="singleproject.html"><i class="icon-link captionicons"></i></a>
            <a data-gal="prettyPhoto[gallery1]" href="img/dummyimage.jpg" title="Title Here"><i class="icon-zoom-in captionicons"></i></a>
          </div>
        </div>
        <h1><a href="singleproject.html">Grunge Architecture</a></h1>
        <p>
          ancient style Europe
        </p>
      </div>
    </div>
    <!-- box 6 -->
    <div class="boxportfolio4 cat2">
      <div class="boxcontainer">
        <img src="img/dummyimage.jpg" alt="">
        <div class="roll">
          <div class="wrapcaption">
            <a href="singleproject.html"><i class="icon-link captionicons"></i></a>
            <a data-gal="prettyPhoto[gallery1]" href="img/dummyimage.jpg" title="Title Here"><i class="icon-zoom-in captionicons"></i></a>
          </div>
        </div>
        <h1><a href="singleproject.html">France Building</a></h1>
        <p>
          old towers architecture
        </p>
      </div>
    </div>
    <!-- box 7 -->
    <div class="boxportfolio4 cat2 cat3">
      <div class="boxcontainer">
        <img src="img/dummyimage.jpg" alt="">
        <div class="roll">
          <div class="wrapcaption">
            <a href="singleproject.html"><i class="icon-link captionicons"></i></a>
            <a data-gal="prettyPhoto[gallery1]" href="img/dummyimage.jpg" title="Title Here"><i class="icon-zoom-in captionicons"></i></a>
          </div>
        </div>
        <h1><a href="singleproject.html">Hall in Tirol</a></h1>
        <p>
          town in Tyrol, Austria
        </p>
      </div>
    </div>
    <!-- box 8 -->
    <div class="boxportfolio4 cat1">
      <div class="boxcontainer">
        <img src="img/dummyimage.jpg" alt="">
        <div class="roll">
          <div class="wrapcaption">
            <a href="singleproject.html"><i class="icon-link captionicons"></i></a>
            <a data-gal="prettyPhoto[gallery1]" href="img/dummyimage.jpg" title="Title Here"><i class="icon-zoom-in captionicons"></i></a>
          </div>
        </div>
        <h1><a href="singleproject.html">Opéra-Théatre de Metz</a></h1>
        <p>
          opera house in France
        </p>
      </div>
    </div>
    <!-- box 9 -->
    <div class="boxportfolio4 cat2 cat3">
      <div class="boxcontainer">
        <img src="img/dummyimage.jpg" alt="">
        <div class="roll">
          <div class="wrapcaption">
            <a href="singleproject.html"><i class="icon-link captionicons"></i></a>
            <a data-gal="prettyPhoto[gallery1]" href="img/dummyimage.jpg" title="Title Here"><i class="icon-zoom-in captionicons"></i></a>
          </div>
        </div>
        <h1><a href="singleproject.html">The Palace of Charles V</a></h1>
        <p>
          construction in Granada, Spain
        </p>
      </div>
    </div>
    <!-- box 10 -->
    <div class="boxportfolio4 cat2 cat3">
      <div class="boxcontainer">
        <img src="img/dummyimage.jpg" alt="">
        <div class="roll">
          <div class="wrapcaption">
            <a href="singleproject.html"><i class="icon-link captionicons"></i></a>
            <a data-gal="prettyPhoto[gallery1]" href="img/dummyimage.jpg" title="Title Here"><i class="icon-zoom-in captionicons"></i></a>
          </div>
        </div>
        <h1><a href="singleproject.html">Hamburg, Germany</a></h1>
        <p>
          City Hall
        </p>
      </div>
    </div><!-- box 11 -->
    <div class="boxportfolio4 cat2 cat3">
      <div class="boxcontainer">
        <img src="img/dummyimage.jpg" alt="">
        <div class="roll">
          <div class="wrapcaption">
            <a href="singleproject.html"><i class="icon-link captionicons"></i></a>
            <a data-gal="prettyPhoto[gallery1]" href="img/dummyimage.jpg" title="Title Here"><i class="icon-zoom-in captionicons"></i></a>
          </div>
        </div>
        <h1><a href="singleproject.html">Washington Dc</a></h1>
        <p>
          water fountain
        </p>
      </div>
    </div>
    <!-- box 12 -->
    <div class="boxportfolio4 cat2 cat3">
      <div class="boxcontainer">
        <img src="img/dummyimage.jpg" alt="">
        <div class="roll">
          <div class="wrapcaption">
            <a href="singleproject.html"><i class="icon-link captionicons"></i></a>
            <a data-gal="prettyPhoto[gallery1]" href="img/dummyimage.jpg" title="Title Here"><i class="icon-zoom-in captionicons"></i></a>
          </div>
        </div>
        <h1><a href="singleproject.html">Bas-Rhin</a></h1>
        <p>
          department of France
        </p>
      </div>
    </div>
    <!-- box 13 -->
    <div class="boxportfolio4 cat2 cat1">
      <div class="boxcontainer">
        <img src="img/dummyimage.jpg" alt="">
        <div class="roll">
          <div class="wrapcaption">
            <a href="singleproject.html"><i class="icon-link captionicons"></i></a>
            <a data-gal="prettyPhoto[gallery1]" href="img/dummyimage.jpg" title="Title Here"><i class="icon-zoom-in captionicons"></i></a>
          </div>
        </div>
        <h1><a href="singleproject.html">Rome, Italy</a></h1>
        <p>
          Fontana di Trevi
        </p>
      </div>
    </div>
    <!-- box 14 -->
    <div class="boxportfolio4 cat1 cat2">
      <div class="boxcontainer">
        <img src="img/dummyimage.jpg" alt="">
        <div class="roll">
          <div class="wrapcaption">
            <a href="singleproject.html"><i class="icon-link captionicons"></i></a>
            <a data-gal="prettyPhoto[gallery1]" href="img/dummyimage.jpg" title="Title Here"><i class="icon-zoom-in captionicons"></i></a>
          </div>
        </div>
        <h1><a href="singleproject.html">Sacramento, California</a></h1>
        <p>
          tower bridge
        </p>
      </div>
    </div>
    <!-- box 15 -->
    <div class="boxportfolio4 cat2 cat3">
      <div class="boxcontainer">
        <img src="img/dummyimage.jpg" alt="">
        <div class="roll">
          <div class="wrapcaption">
            <a href="singleproject.html"><i class="icon-link captionicons"></i></a>
            <a data-gal="prettyPhoto[gallery1]" href="img/dummyimage.jpg" title="Title Here"><i class="icon-zoom-in captionicons"></i></a>
          </div>
        </div>
        <h1><a href="singleproject.html">Haikou, China</a></h1>
        <p>
          Haikou city statue
        </p>
      </div>
    </div>
    <!-- next box etc -->
  </div>
</div>