<div class="container py-2">
  <div class="row" data-masonry='{"percentPosition": true }'>
    <% @articles.each do |article| %>
        <div class="col-sm-4 col-md-3 py-3">
          <div class="card bg-light">
            <div class="card-body">
              <a href="/<%=article.slug%>">
                <img class="card-img-top" src="<%=article.thumbmedia_url%>">
                <div style="padding: 1rem 1rem">
                  <h3><%=article.title%></h3>
                  <p class="card-text"><%=raw(article.excerpt)%></p>
                </div>
              </a>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
