.card-img-top {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}
.card-body {
    padding: 0rem 0rem;
}

a {
    color: rgba(57, 57, 57, 0.82);
    text-decoration: none;
}

a:hover {
    color: rgba(57, 57, 57, 0.82);
    text-decoration: none;
}