<div class="container">
  <table border="1">
    <tr>
      <th>Name</th>
      <th>Slug</th>
    </tr>
    <%@categories.each do |category| %>
    <tr>
      <td><%=category.title%></td>
      <td><%=category.slug%></td>
    </tr>
    <%end%>
  </table>
</div>