<footer class="bg-primary text-center text-lg-start text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row my-4">
      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">

        <div class="rounded-circle bg-white shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-auto" style="width: 150px; height: 150px;">
          <img src="/img/footer-logo.png" height="70" alt=""
               loading="lazy" />
        </div>

        <p class="text-center">New travel experience</p>

        <ul class="list-unstyled d-flex flex-row justify-content-center">
          <li>
            <a class="text-white px-2" href="#!">
              <i class="fab fa-facebook-square"></i>
            </a>
          </li>
          <li>
            <a class="text-white px-2" href="#!">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
          <li>
            <a class="text-white ps-2" href="#!">
              <i class="fab fa-youtube"></i>
            </a>
          </li>
        </ul>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4">Adventure</h5>

        <ul class="list-unstyled">
          <li class="mb-2">
            <a href="#!" class="text-white"><i class="fas fa-paw pe-3"></i>Manali to Leh</a>
          </li>
          <li class="mb-2">
            <a href="#!" class="text-white"><i class="fas fa-paw pe-3"></i>Trekking/Camping</a>
          </li>
          <li class="mb-2">
            <a href="#!" class="text-white"><i class="fas fa-paw pe-3"></i>Motor Home</a>
          </li>
          <li class="mb-2">
            <a href="#!" class="text-white"><i class="fas fa-paw pe-3"></i>Jungle Safari</a>
          </li>
          <li class="mb-2">
            <a href="#!" class="text-white"><i class="fas fa-paw pe-3"></i>Para Gliding</a>
          </li>
          <li class="mb-2">
            <a href="#!" class="text-white"><i class="fas fa-paw pe-3"></i>Rafting</a>
          </li>
          <li class="mb-2">
            <a href="#!" class="text-white"><i class="fas fa-paw pe-3"></i>Biking</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4">Popular Travel</h5>

        <ul class="list-unstyled">
          <li class="mb-2">
            <a href="#!" class="text-white"><i class="fas fa-paw pe-3"></i>Leh Laddakh</a>
          </li>
          <li class="mb-2">
            <a href="#!" class="text-white"><i class="fas fa-paw pe-3"></i>Chardham Yartra</a>
          </li>
          <li class="mb-2">
            <a href="#!" class="text-white"><i class="fas fa-paw pe-3"></i>Srinagar, Gulmarg</a>
          </li>
          <li class="mb-2">
            <a href="#!" class="text-white"><i class="fas fa-paw pe-3"></i>Agra</a>
          </li>
          <li class="mb-2">
            <a href="#!" class="text-white"><i class="fas fa-paw pe-3"></i>Vaishno Devi</a>
          </li>
          <li class="mb-2">
            <a href="#!" class="text-white"><i class="fas fa-paw pe-3"></i>Jaipur</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4">Contact</h5>

        <ul class="list-unstyled">
          <li>
            <p><i class="fas fa-map-marker-alt pe-2"></i>SCO-91, Sector - 5, Panchkula</p>
          </li>
          <li>
            <p><i class="fas fa-phone pe-2"></i>+91 9876727393</p>
          </li>
          <li>
            <p><i class="fas fa-envelope pe-2 mb-0"></i>info@devzila.com</p>
          </li>
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2020 Copyright:
    <a class="text-white" href="http://bookmygaddin.in/">BookMyGaddi.in</a>
  </div>
  <!-- Copyright -->
</footer>