<nav class="navbar navbar-expand-sm bg-light navbar-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="/img/gaddi.png" alt="" height="24" class="d-inline-block align-text-top">
      BookMyGaddi
    </a>

    <ul class="navbar-nav">
      <% @categories.each do |category| %>
      <li class="nav-item">
        <a class="nav-link" href="/<%=category.slug%>"><%=category.title%></a>
      </li>
      <% end %>
      <li class="nav-item">
        <a class="nav-link" href="/book/contect-us"><img src="/img/24x7phone.png" width="150"/></a>
      </li>
    </ul>

  </div>
</nav>