<!-- Fixed navbar -->
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">BookMyGaddi</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
           <% @categories.each do |category| %>
              <li><a href="/<%=category.slug%>"><%=category.title%></a></li>
          <% end %>
          <li><a href="/book/contect-us"><img src="/img/24x7phone.png" width="150"/></a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>